[Unit]
Description=MakersVR Marker Detector service
After=basic.target

[Service]
Type=simple

WorkingDirectory=/home/pi/MakersVR/MakersVR_MarkerDetector/build
ExecStart=/usr/bin/stdbuf -oL /home/pi/MakersVR/MakersVR_MarkerDetector/build/Detector -c qpu_blob_tiled_min.bin -z -d -u

SyslogIdentifier=MakersVR

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
